*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Shadows Into Light', cursive;
}

.middle{
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.top{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-decoration: underline;
    z-index: 50;
}

.top a{
    text-decoration: none;
    color: black;
}

/*.nav{
    width: 100vw;
    height: 5vh;
}*/

.left,
.right{
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px 0 20px;
    z-index: 50;
}

.right:hover h3,
.right:hover img,
.left:hover h3{
    transform: scale(1.1);
}

.left:hover img{
    transform: scaleX(-1) scale(1.1);
}

.right img,
.left img{
    width: 180px;
    transition: transform .2s;
    margin-bottom: 10px;
    max-width: 100%;
}

.right h3,
.left h3{
    font-size: 30px;
    transition: transform .2s;
}

.left img{
    transition: transform .2s;
    transform: scaleX(-1);
}

.main{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score{
    position: absolute;
    right: 25vw;
    border: 1px solid black;
    padding: 5px;
}

.result{
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*.result{
    left: 206px;
    top: 98px;
    width: 865px;
    height: 800px;
    position: absolute;
    display: none;
    padding: 300px 0 0 250px;
    z-index: 50;
}*/

.end{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    flex-direction: column;
}

.response{
    font-size: 60px;
    width: 500px;
}

.play{
    width: 100px;
    height: 40px;
    margin: 10px;
    font-size: 15px;
    visibility: visible;
}

.time{
    font-style: italic;
    text-decoration: underline;
}

.main_top{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 10vh;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 50;
}

.options{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 80vh;
    font-size: 35px;
    margin-bottom: 5px;
}

.a, .b, .c, .d, .e, .f, .g, .h, .i{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    text-align: center;
}

.a:hover, .b:hover, .c:hover, .d:hover, .e:hover, .f:hover, .g:hover, .h:hover, .i:hover{
    transform: scale(1.2);
    transition: transform .4s;
}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
    .top{
        font-size: 18px;
    }

    .a, .b, .c, .d, .e, .f, .g, .h, .i{
        width: 120px;
        height: 120px;
    }

    .options{
        font-size: 20px;
    }

    .left, 
    .right{
        width: 40px;
    }

    .left h3,
    .right h3{
        font-size: 15px;
    }

    .score{
        right: 12px;
        font-size: 12px;
    }

    .main_top{
        margin-bottom: 15px;
    }

    .end{
        font-size: 25px;
    }

    .response{
        font-size: 25px;
    }

    html, body{
        overflow: hidden;
    }
}